<section id="landing-section">
  <div class="container">
    <div class="dark-overlay">
      <div class="main-inner container">
        <div class="row">

          <div class="col-md-6 mx-auto">
            {{#if successMsg}}
            <div class="alert alert-success">{{successMsg}}</div>
            {{/if}}

            {{#if errorMsg}}
            <div class="alert alert-danger">{{errorMsg}}</div>
            {{/if}}

            {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5 py-5">
    {{#if successMsg}}
    <div class="alert alert-success">{{successMsg}}</div>
    {{/if}}
    <div class="row">
      <div class="col-md-12">
        <h1>WELCOME</h1>
      </div>
    </div>
  </div>
</section>
